# Backend & Database Configuration
DATABASE_URL="postgresql://neondb_owner:password@ep-sample-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"
PORT=4000
BETTER_AUTH_SECRET="a_secure_random_32_character_secret_key_here"
BETTER_AUTH_URL="http://localhost:4000"
FRONTEND_URL="http://localhost:3000"

# Frontend Configuration
NEXT_PUBLIC_API_URL="http://localhost:4000"
